#root {
  min-height: 100dvh;
  min-height: 100vh;
  padding: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  min-height: fit-content !important;
}

.product-card {
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.product-card:hover {
  filter: brightness(90%);
  transform: scale(1.05);
  transform: rotate(10deg);
}
